# These environment variables are duplicated in the ephios ini

export SECRET_KEY={{ django_secret }}
export DEBUG=False

export DATABASE_URL={{ database_url }}
 
export ALLOWED_HOSTS={{ domains|join(",") if use_main_documentroot else domain }}
export STATIC_URL=/static/
export STATIC_ROOT=/var/www/virtual/{{ ansible_user }}/{{ "html" if use_main_documentroot else domain }}/static/
export STATIC_ROOT=/var/www/virtual/{{ ansible_user }}/{{ "html" if use_main_documentroot else domain }}/static/

{% if not use_main_documentroot %}
export SITE_URL=https://{{ domain }}
{% endif %}

export EMAIL_URL=smtp+tls://{{ smtp_mailbox }}@{{ smtp_domain or domain }}:{{ smtp_password }}@{{ ansible_host }}:587
 
export DEFAULT_FROM_EMAIL={{ smtp_mailbox }}@{{ smtp_domain or domain }}
export SERVER_EMAIL={{ smtp_mailbox }}@{{ smtp_domain or domain }}
 
export ADMINS="{{ admin_email }}"

export CACHE_URL=redis:///home/{{ ansible_user }}/.redis/sock

export VAPID_PRIVATE_KEY_PATH=/home/{{ ansible_user }}/private_key.pem
