# These environment variables are duplicated in the ephios ini

export SECRET_KEY={{ django_secret }}
export DEBUG=False

export DATABASE_URL=mysql://{{ ansible_user }}:{{ db_password }}@localhost/{{ ansible_user }}_ephios
 
export ALLOWED_HOSTS={{ domain }}
export STATIC_URL=/static/
export STATIC_ROOT=/var/www/virtual/{{ ansible_user }}/{{ domain }}/static/
export MEDIA_ROOT=/var/www/virtual/{{ ansible_user }}/{{ domain }}/media/
 
export SITE_URL=https://{{ domain }}

export EMAIL_URL=smtp+tls://{{ smtp_mailbox }}@{{ domain }}:{{ smtp_password }}@{{ ansible_host }}:587
 
export DEFAULT_FROM_EMAIL={{ smtp_mailbox }}@{{ domain }}
export SERVER_EMAIL={{ smtp_mailbox }}@{{ domain }}
 
export ADMINS="{{ admin_email }}"

export CACHE_URL=redis:///home/{{ ansible_user }}/.redis/sock

export VAPID_PRIVATE_KEY_PATH=/home/{{ ansible_user }}/private_key.pem
