# These environment variables are duplicated in the ephios ini

export SECRET_KEY={{ django_secret }}
export DEBUG=False

{% if custom_settings_module is defined %}
export DJANGO_SETTINGS_MODULE={{ custom_settings_module }}
{% endif %}

export DATABASE_URL={{ database_url }}
 
export ALLOWED_HOSTS={{ custom_allowed_hosts|join(",") if custom_allowed_hosts is defined else domain }}
export STATIC_URL=/static/
export STATIC_ROOT=/var/www/virtual/{{ ansible_user }}/{{ "html" if use_main_documentroot else domain }}/static/
export MEDIA_ROOT=/var/www/virtual/{{ ansible_user }}/{{ "html" if use_main_documentroot else domain }}/media/

export SITE_URL=https://{{ domain }}

export EMAIL_URL=smtp+tls://{{ smtp_user }}:{{ smtp_password }}@{{ smtp_host }}:587
 
export DEFAULT_FROM_EMAIL={{ smtp_from }}
export SERVER_EMAIL={{ smtp_from }}
 
export ADMINS="{{ admin_email }}"

export CACHE_URL=redis:///home/{{ ansible_user }}/.redis/sock

export VAPID_PRIVATE_KEY_PATH=/home/{{ ansible_user }}/private_key.pem
