[uwsgi]
base = /home/{{ ansible_user }}/.local/lib/python3.11/site-packages/ephios

http = :8000
master = true
wsgi-file = %(base)/wsgi.py
touch-reload = %(wsgi-file)
static-map = /static=%(base)/static
workers = 2

app = wsgi

plugin = python

uid = {{ ansible_user }}
gid = {{ ansible_user }}

{% if custom_settings_module is defined %}
env = DJANGO_SETTINGS_MODULE={{ custom_settings_module }}
{% endif %}

env = DEBUG=False

env = DATABASE_URL={{ database_url }}

env = ALLOWED_HOSTS={{ custom_allowed_hosts|join(",") if custom_allowed_hosts is defined else domain }}
env = STATIC_URL=/static/
env = STATIC_ROOT=/var/www/virtual/{{ ansible_user }}/{{ "html" if use_main_documentroot else domain }}/static/
env = MEDIA_ROOT=/var/www/virtual/{{ ansible_user }}/{{ "html" if use_main_documentroot else domain }}/media/

{% if not use_main_documentroot %}
env = SITE_URL=https://{{ domain }}
{% endif %}

env = EMAIL_URL=smtp+ssl://{{ smtp_user }}:{{ smtp_password }}@{{ smtp_host }}:465

env = DEFAULT_FROM_EMAIL={{ smtp_from }}
env = SERVER_EMAIL={{ smtp_from }}

env = ADMINS="{{ admin_email }}"

env = CACHE_URL=redis:///home/{{ ansible_user }}/.redis/sock

env = DATA_DIR=/home/{{ ansible_user }}/var/ephios/data

env = FALLBACK_MEDIA_SERVING=True
